.header{
    display:  flex;
    justify-content: space-between;
    border : 1px solid black;
    margin: 10px;
    padding-left:  20px;
    padding-right:  20px;

}
.nav-items > ul {
    list-style-type:  none;
    display: flex;
    margin-top: 30;
}
.nav-items > ul > li {
    padding-left: 20;
    font-weight: bold;
}
.resListContainer{
    display: flex;
    flex-wrap: wrap;
}
.logo {
    height:  60;
    width: 60  ;
    margin: 20;
}
.resLogo{
  width: 200;
  height: 200;
}
.resContainer {
    margin: 10px;
    border: 1px solid grey;
    width: 200;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}